@import 'element-plus/dist/index.css';
@import "./themes/default.scss";
@import "./themes/green.scss";
@import "./themes/dark.scss";
@import "./themes/red.scss";
@import './element-cover.scss';
@import './common.scss';
@import './iconfont/iconfont.css';

@each $theme in default, "dark", "red", "range", "green" {
    :root[theme="#{$theme}"] {
        @extend %theme_#{$theme} !optional;
    }
}

#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    width: 100vw;
    min-width: 320px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url('/bg.png');
    background-attachment: fixed;
}

html,
body {
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}
