<?xml version="1.0" encoding="UTF-8" ?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liuqi.etl.domain.mapper.EtlJobDependMapper">
    <select id="query" parameterType="com.liuqi.etl.bean.query.EtlJobDependQuery" resultType="com.liuqi.etl.bean.dto.EtlJobDependDTO">
        select
        job_id
        ,parent_job_id
        from b_etl_job_depend
        where deleted = 0
        <if test="null != id and '' != id">
            and id = #{id}
        </if>
        <if test="null != ids">
            <foreach collection="ids" item="id" open="(" close=")" separator=",">
                #{id}
            </foreach>
        </if>
        <if test="null != orderBy and '' != orderBy"> order by ${orderBy}</if>
        <if test="null == orderBy or '' == orderBy"> order by create_time desc
        </if>
    </select>
</mapper>