@font-face {
  font-family: "iconfont"; /* Project id 4649727 */
  src: url('iconfont.woff2?t=1723278211464') format('woff2'),
       url('iconfont.woff?t=1723278211464') format('woff'),
       url('iconfont.ttf?t=1723278211464') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jiediansql:before {
  content: "\e6f5";
}

.icon-table:before {
  content: "\e823";
}

.icon-Kafka:before {
  content: "\e65a";
}

.icon-http-:before {
  content: "\e609";
}

.icon-js:before {
  content: "\e620";
}

.icon-icon_Groovy:before {
  content: "\e6d2";
}

